[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2017.7.27.1"
chardet = "==3.0.4"
decorator = "==4.1.2"
idna = "==2.6"
ipython = "==6.2.1"
jedi = "==0.11.0"
numpy = "==1.13.3"
oauthlib = "==2.0.6"
pandas = "==0.20.3"
parso = "==0.1.0"
pbr = "==3.1.1"
pexpect = "==4.2.1"
pickleshare = "==0.7.4"
ptyprocess = "==0.5.2"
python-dateutil = "==2.6.1"
pytz = "==2017.2"
requests = "==2.18.4"
requests-oauthlib = "==0.8.0"
simplegeneric = "==0.8.1"
six = "==1.11.0"
stevedore = "==1.27.1"
traitlets = "==4.3.2"
"urllib3" = "==1.22"
virtualenv = "==15.1.0"
virtualenv-clone = "==0.2.6"
virtualenvwrapper = "==4.8.2"
wcwidth = "==0.1.7"
ipython_genutils = "==0.2.0"
prompt_toolkit = "==1.0.15"
Pygments = "==2.2.0"
toml = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.6"
